body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-part {
    background-color: #1f2937;
    padding-left: 250px;
    padding-right: 250px;
}
.contents {
    flex-grow: 1;
}

.brand-name {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 0;
}

li > a {
    text-decoration: none;
}

li > a, .sub-heading {
    font-size: 18px;
    color: #e5e7eb;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.header-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    gap: 40px;
}

.header-writing {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
}

.main-heading {
    width: 300px;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.sub-heading {
    width: 350px;
}

button {
    padding: 0;
    border: none;
    border-radius: 12px;
    width: fit-content;
    padding: 10px 20px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 800;

}

.img-placeholder {
    background-color: #d3d3d3;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.items-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 250px 100px 250px;

}

.items-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
}


.item-list {
    gap: 100px;
}

.item-container {
    width: 110px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.item-text {
    color: dimgray;
    font-size: 12px;
}

.quotes {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 250px;
}

.quote {
    flex-wrap: wrap;
    width: 800px;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    align-self: flex-end;
    color: #1f2937;
    font-size: 24px;
    font-weight: 800;
    margin-right: 300px;
}

.cta {
    width: 800px;
    align-self: center;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    border-radius: 20px;
    margin: 100px 0px;
}

.cta button {
    border: 1px solid #e5e7eb;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f9faf8;
}


.cta-header {
    font-size: 24px;
    font-weight: 700;
}

.cta-subheader {
    font-size: 18px;
}